.DS_Store

## Eclipse IDE
*.class
bin/
temp/
.metadata
*.temp
.settings/
local.properties

## VS Code IDE
.vscode
.code-workspace

## Intellij IDE
.idea
out/

## NetBeans
build
nbbuild/
dist/
nbproject/

## General files
*.class
#*.jar
*.log
/target/
hs_err_pid*
.project
.classpath
.impl